*.h5 filter=lfs diff=lfs merge=lfs -text
*.he5 filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.nc4 filter=lfs diff=lfs merge=lfs -text
*.zarr filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text